<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HomeAndConstructionBusiness",
  "name": "Terraform & Craft Elite Remodeling",
  "image": "https://khisal786.github.io/Terraform-HomeContractors/assets/images/demos/hero-bg.jpg",
  "@id": "https://khisal786.github.io/Terraform-HomeContractors/",
  "url": "https://khisal786.github.io/Terraform-HomeContractors/",
  "telephone": "+1-512-555-0199",
  "priceRange": "$$$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "4500 Architectural Way, Suite 200",
    "addressLocality": "Austin",
    "addressRegion": "TX",
    "postalCode": "78701",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 30.2672,
    "longitude": -97.7431
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday"
    ],
    "opens": "07:00",
    "closes": "18:00"
  },
  "sameAs": [
    "https://www.facebook.com/",
    "https://www.instagram.com/"
  ]
}
</script>